services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "5050:3062"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - DRAWBRIDGE_PORT=3062
